<h1>{{ materials.material.material.material_name }}</h1>
<section ng-controller="MaterialsController as materials">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="caption">
        <!-- <p class="media-heading"> Name: {{ materials.material.material.material_name }}</p> -->
        <p class="media-heading"> Location: {{ materials.material.material.geographic_location }}</p>
        <p class="media-heading"> Chemistry Score: {{ materials.material.material.chemistry_total }}</p>
        <p class="media-heading"> GHG Score: {{ materials.material.material.energy_ghg_emissions_intensity_total }}</p>
        <p class="media-heading"> Water Score: {{ materials.material.material.water_land_intensity_total }}</p>
        <p class="media-heading"> Waste Score: {{ materials.material.material.physical_waste_total }}</p>
        <p class="media-heading">Total Score:<h4> {{ materials.material.material.total_score }}</h4></p>
      </div>
    </div>
  </div>
</section>
