<div id="home">
    <div class="row">
        <div class="col-md-12">
            <h1 id="brand">P R O V I D E N C E</h1>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <section>
            <h6><p>/ˈprɒvɪd(ə)ns/ noun </p> <p>1.the protective care of nature as a spiritual power.</p></h6>
            <p>How much damage do your clothes have on the environment?</p>
            <p>Find the environmental impact of the raw materials to the finished textile used in a product. A higher score, out of fifty, represents a better performance taking into consideration four key impact areas.</p>
            <form id="searchForm" name="searchForm" ng-submit="users.getProductMaterials()" novalidate>

                <div class="form-group">
                    <label for="productURL"></label>
                    <input type="text" class="form-control" id="productURL" placeholder="Enter a product url and find out more about its sustainability..." ng-model="users.productUrl">
                </div>

                <button type="submit" class="btn btn-default" style="position: absolute; left: -9999px; width: 1px; height: 1px;">Submit</button>
            </form>
        </section>
    </div>
    <div class="col-md-2">
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h4>Consideration One </h4>
            <h6>Chemical</h6>
        </div>
        <div class="col-md-4">
            <h4>Consideration Two </h4>
            <h6>Energy and GHG Intensity</h6>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h4>Consideration Three </h4>
            <h6>Water and Land Use Intensity</h6>
        </div>
        <div class="col-md-4">
            <h4>Consideration Four </h4>
            <h6>Waste</h6>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>
