<h1>User!</h1>
<section>
    <div class="row">
        <div class="container">
                    <div class="col-md-3 showGrid">
                        <img ng-src="{{ users.user.image }}" class="col-md-3 img-responsive">
                    </div>
                    <div class="col-md-3 showGrid">
                        <h3><span>{{users.user.firstName}}</span></h3>
                    </div>
                    <div class="col-md-3 showGrid">
                        <h3><span>{{users.user.lastName}}</span></h3>
                    </div>
                    <div class="col-md-3 showGrid">
                        <h3><span>{{users.user.email}}</span></h3>
                   </div>
            </div>
        </div>
</section>
