$body-background-color: #48572C;
$show-color: #CCB499;
$show-border: solid black 2px;
$font-color: white;
$dark-green: #002E01;
$sea-blue: #51737D;
$coral: #F50F00;
$avocado: #A1DD35;

$footprint: #C8A973;
// #002E01 - very dark green

//#48572C - palm green - body-background-color
// #CCB499 - light brown - show-color
// #714519 - brown - font-color
