$body-background-color: #48572C;
$show-color: #CCB499;
$show-border: solid black 2px;
$font-color: white;

// #C8A973 - pale biscuit
// #002E01 - very dark green

// #48572C - palm green - body-background-color
// #CCB499 - light brown - show-color
// #714519 - brown - font-color

// #51737D - sea blue
// #F50F00 - red
// #A1DD35 - avocado - very lime
