$body-background-color: #48572C;
$show-color: #CCB499;
$show-border: solid #A9947F 2px;
$font-color: #F8F9F3;

$dark-green: #002E01;
$sea-blue: #51737D;
$coral: #F50F00;
$avocado: #A1DD35;
$white: #F8F9F3;
$gold: #A9947F;
$green: #7B8E54;

$footprint: #C8A973;
