@import "_bower";
@import "_variables";

@font-face{
  font-family: 'Questa';
src: url(../../assets/Questa/Webfonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.ttf)
url(../../assets/Questa/Webfonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.woff);
  font-family: 'Quicksand';
  src: url(../../assets/Quicksand/Quicksand-Regular.otf)
}
body {

#brand {
  font-family: Quicksand;
}
a {
  color: $dark-green;
  text-decoration: none;
}

h5 {
  font-size: 30px;
  font-family: Quicksand;
  text-transform: uppercase;
  color: $gold;
  margin: 0px 0px 20px 0px;
  padding-top: 20px;
}
  li {
    list-style-type: none;
    a {
      color: $dark-green;
      text-decoration: none;
    }
  }

  .navbar-default {
    background-color: $white;
    font: $dark-green;
    margin-bottom: 0px;
  }
  .navbar {
    border-color: transparent;
    border-radius: 0px;
    border-bottom-color:$dark-green;
    font-family: Quicksand;
  }
    text-align: center;
    font-family: Quicksand;
    color: black;

    background-image: url("/images/plants.jpg");

  .form-control {
    height: 75px;
    font-size: 14px;
  }

  // Material Show Page
  #showGridLocation:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background: #B0D295;
    //background-image: url("/images/jungle.jpg");
  }
  #showGridChemistry:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background: #C02339;
    //background-image: url("/images/chemicals.jpg");
  }
  #showGridFootprint:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background: #31986D;
    //background-image: url("/images/jungle.jpg");
  }
  #showGridWater:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background:#BEDFD8;
    //background-image: url("/images/water2.jpg");
  }
  #showGridWaste:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background: #D2C1D2;
    //background-image: url("/images/fumes.jpg");
  }
  #showGridTotal:hover {
    color: $font-color;
    border: $show-border;
    padding: 0;
    min-height: 300px;
    background: #D1AB08;
    //background-image: url("/images/fumes.jpg");
  }
    .showGrid {
      color: $dark-green;
      border: $show-border;
      padding: 0px;
      min-height: 300px;
      background-color:$white;

      h2 {
        //  position: absolute;
        font: Quicksand;
        font-size: 20px;
        position: absolute;
        top: 50%;
        margin: 0px;
        color: white;
        letter-spacing: -1px;
        display: block;
        left: 50%;
        transform: translate(-50%,-50%);
      }

       h2.media-heading {
         color: #666;
       }
    }

    //Home page
    .showGridHome {
      color: $dark-green;
      text-align: center;
      border: $show-border;
      padding: 0;
      min-height: 300px;
      background-color: $white;
      h3 {
        color: $dark-green;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
      }
      a {
        color: $dark-green;
      }
      img {
        position: absolute;
        top: 30%;
        left: 0;
        width: auto;
      }
    }

    #materialsIndex {
      background-color: $white;
      input {
        text-align: center;
        width: 60%;
        height: 75px;
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
    main.container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      #productShowPage {
        background-color: $body-background-color;
        height:100vh;
        width: 100%;
        padding-top: 50px;
      }
    }
    .capsule {
      max-width: 960px;
      margin: 0 auto;
    }
    #materialShowPage {
      background-color: $body-background-color;
      width: 100%;
      padding-bottom: 25px;
    }

    #home {
      padding-top: 50px;

    }

    #welcome {
      background-color: $white;
      // color: #C02339;
      width: 100%;
      height: 300px;
padding-bottom: 50px;
      h1 {
        margin-top: 0px;
        padding-top: 25px;
      }
      .col-md-8{
        padding-top: 25px;
      }

    }

    #impact {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    #url {
      width: 100%;
      height: 200px;
      padding-bottom: 25px;
    }

  #authPage {
    background-color: $white;
    height:300vh;
    width: auto;
  }

  #forms {
    height: 75px;
    width: 60%;
    font-size: 14px;
    position: absolute;
    top: 25%;
    margin: 0px;
    display: block;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
